.storage_users {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-family: 'Lato', sans-serif;
    background: rgb(34, 33, 38);
    background: linear-gradient(217deg, rgba(34, 33, 38, 1) 10%, rgba(0, 0, 0, 1) 62%);
    padding: 20px 45px;
    border-radius: 15px;
    width: fit-content;

}
.storage_users_imgs{
    display: flex;
    align-items: center;
    height: 60px;
}
.storage_users_imgs img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 100%;
    margin-left: -10px;;
    border: 1px solid #b2b9c6;
}
.storage_users h4 {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 600;
}

.storage_users span {
    font-size: .8rem;
    color: #b2b9c6;
    font-weight: 500;
}