.slider_news {
    display: flex;
    flex-direction: column-reverse;
    color: #b2b9c6;
    font-family: 'Lato', sans-serif;
    width: 100%;
    max-width: 580px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 9px;
    border-radius: 5px;
    height: 500px;
    padding-top: 140px;
}
.slider_news__bg{
    display: flex;
    flex-direction: column;
    color: #b2b9c6;
    font-family: 'Lato', sans-serif;
    width: 100%;
    max-width: 580px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 9px;
    border-radius: 5px;
    height: 230px;
    background-color: rgba(0, 0, 0, 0.416);
    backdrop-filter: blur(10px);
}

.slider_news__subtitle {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 5px;
    height: 60px;
    overflow: hidden;
}

.slider_news__title {
    font-size: 1.7rem;
    font-weight: 700;
    margin: 5px 0px;
}
.line{
    width: 100%;
    height: 2px;
    background-color: #696969;
    padding: 1px;
    margin: 3px 0px;
    position: relative;
}
.lineBlue{
    width: 20%;
    height: 2px;
    padding: 1px;
    background-color: #1273ae;
    margin: 3px 0px;
    position: absolute;
    top: -3px;
}
.slider_news__space {
    width: 100%;
    height: 250px;
}

/* porfile */
.slider_news__profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile__user {
    display: flex;
    align-items: center;
    gap: 5px;
}

.profile__user img {
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 100%;
    object-position: top;
}

.profile__user p {
    font-size: .8rem;
    color: #fff;
}

.profile__user p span {
    color: #b2b9c6;
}

.slider_news__profile__icons {
    display: flex;
    gap: 6px;
}