.btn_tag {
    padding: 5px 8px;
    font-family: 'Lato', sans-serif;
    background-color: #c0c0c4;
    font-size: .8rem;
    font-weight: 600;
    color: #4b4e4e;
    border: none;
    outline: none;
    border-radius: 5px;
}