.titulo {
  border-bottom: 1px solid red;
  width: fit-content;
}

.tituloH1 {
  width: 60%;
  text-align: justify;
  z-index: 1;
  color: #fff;
  font-size: 1.5rem;

}

.contentInfo {
  width: 90%;
  position: absolute;
  left: 20%;
  bottom: 30px;
  z-index: 1;

}

.infoHora{
  width: fit-content;
  margin-top: 5px;
  color: #fff;
  font-family: poppins;
  font-size: 1rem;
  font-weight: 500;
}