.sport_math {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 7px;
    /* border-bottom: 1px solid #222222; */

}

.sport_math img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 100%;
    padding: 7px;
    background-color: #2a2a2a;

}

.sport_math span {
    font-size: .8rem;
    font-family: 'Lato', sans-serif;
    color: #247509;
    font-weight: 800;
}

.sport_math p {
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    color: #fff;
}

.sport_math__results {
    border-radius: 10px;
    padding: 4px 8px;
    background-color: #2a2a2a;
}

.sport_math__results span {
    color: #69acd5;
    font-size: .9rem;
    font-weight: 700;
}