.content{
     display: grid;
     grid-template-columns: 180px 1fr;
     position: relative;
     padding: 10px 0px;
     overflow: hidden;
}

.content__space{
     display: flex;
     flex-direction: column;
     gap: 20px;
     overflow: hidden;
     margin-top: 60px;
}