.navbar{
     width: 150px;
     display: flex;
     flex-direction: column;
     gap: 10px;
     padding: 0px 6px;
    position: sticky;
    justify-content: space-between;
    height: 100vh;
}
.navbar__header{
     display: flex;
     flex-direction: column;
     gap: 20px;
     position: fixed;
}
/* ? ---------- logo ------------ */
.navbar__logo{
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 10px;
     font-family: 'Lato', sans-serif;
}
.navbar__logo svg{
     width: 25px;
     height: 25px;
}
/* ? ---------- Profile ------------ */
.navbar__profile {
     display: flex;
     gap: 9px;
     align-items: center;
     font-family: 'Lato', sans-serif;
     width: 150px;

}
.navbar__profile__img{
     position: relative;
}
.navbar__profile__online{
     position: absolute;
     content: ' ';
     width: 10px;
     height: 10px;
     background-color: green;
     left: 70%;
     top: 0%;
     border-radius: 100%;
}
.navbar__profile img{
     width: 35px;
     height: 35px;
     border-radius: 100%;
     object-fit: cover;
}
.navbar__profile_name{
     display: flex;
     flex-direction: column;
}
.navbar__profile_name p{
     font-size: 1rem;
     font-weight: 700;
}
.navbar__profile_name span{
     font-size: .8rem;
     opacity: .6;
}
/* ? ---------- links ------------ */
.navbar__links{
     width: 150px;

     display: flex;
     flex-direction: column;
     list-style: none;
     position: fixed;
     top: 20%;
}
.navbar__links_bottom{
     top: 80%;
}
.navbar__links li{
     display: flex;
     align-items: center;
     gap: 6px;
     font-family: 'Lato', sans-serif;
     padding: 10px;
     color: #b2b9c6;

}
.navbar__links li a{
     display: flex;
     align-items: center;
     gap: 6px;
     font-family: 'Lato', sans-serif;
     color: #b2b9c6;

}
.navbar__links li svg{
     color: #b2b9c6;
     font-size: 1.4rem;
}
.navbar__links li:hover{
     background-color: rgba(50, 124, 126, 0.541);
}

.navbar__links .navbar__links__active,.navbar__links .navbar__links__active svg{
     color: #69acd5;
     position: relative;
}
.navbar__links__active::after{
     content: ' ';
     width: 2px;
     height: 100%;
     position: absolute;
     left: -2px;
     background-color: #69acd5;
}