.img{
     width: 100%;
     margin-top: 6px;
}
.h3{
     font-family: poppins;
     font-weight: bolder;
     font-size: 1.1rem;
}
.p{
     max-width: 400px;
     max-height: 500px;
     overflow: hidden;
     text-overflow: ellipsis;
     font-family: poppins;
     font-weight: 500;
     font-size: .8rem;
}