.account_detail{
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #b2b9c6;
    font-family: 'Lato', sans-serif;
    
}

.account_detail h1{
    font-size: 1.4rem;
    color: #fff;
    font-weight: 600;
}

/* form */
.account_detail__form{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
}
.form__input{
    width: 340px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.form__input label{
    font-size: 1rem;
}
.form__input input{
    padding: 10px 5px;
    color: #fff;
    background-color: transparent;
    outline: none;
    border: 1px solid #b2b9c6;
    border-radius: 3px;
}

