.sport_liga{
    align-self: flex-start;
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.sport_liga img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    object-fit: contain;
}
.sport_liga p{
    font-size: .8rem;
    color: #b2b9c6;
    font-family: 'Lato', sans-serif;
}
.sport_liga .sport_liga__title{
    font-size: 1rem;
    color: #fff;
    font-family: 'Lato', sans-serif;

}

.sport_liga__description{
    display: flex;
    flex-direction: column;
    gap: 5px;
}