.pagination {
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: end;
    align-items: end;

}

.pagination li {
    font-size: 1.2rem;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    background-color: transparent;
    border: 1px solid #b2b9c6;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.pagination li:hover{
    background-color: #b2b9c6;
}