.main {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 40px;
}

/* left */
.main__left{
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
  padding-bottom: 100px;

}
.main__left__cards{
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}
/* right */
.main__right {
  width: 450px; 
  height: 300px;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 6px;
  padding: 0px 30px;
 
}
.main__right__title h1{
  font-size: 1.3rem;
  font-family: 'Lato', sans-serif;
  margin-bottom: 10px;
}
.main__right__cards {
  height: 344px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
}
.main__right__title{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main__right__title:nth-child(3){
  margin-top: 20px;
}
.main__right__tags{
  width: 360px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding-left: 10px;
}




/* scroll */

.main__left::-webkit-scrollbar {
  -webkit-appearance: none;
}

.main__left::-webkit-scrollbar:vertical {
  width:2px;
}

.main__left::-webkit-scrollbar-button:increment,.main__left::-webkit-scrollbar-button {
  display: none;
} 

.main__left::-webkit-scrollbar:horizontal {
  height: 6px;
}

.main__left::-webkit-scrollbar-thumb {
  background-color: #69acd5;
  border-radius: 20px;
  border: 1px solid #f1f2f3;
}

.main__left::-webkit-scrollbar-track {
  border-radius: 10px;  
}