.main {
  width: 100%;
  display: flex;
  gap: 20px;

}

/* left */
.main__left {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
  padding-bottom: 100px;
  padding-right: 40px;
}

.main__left__cards {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

/* right */
.main__right {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.main__right h1 {
  font-size: 1.3rem;
  margin: 10px 0px;
  margin-top: 25px;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  align-self: flex-start;
}

.main__right__results {
  width: 440px;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #222222;
  border-radius: 10px;
  padding: 7px;
}






/* scroll */

.main__left::-webkit-scrollbar {
  -webkit-appearance: none;
}

.main__left::-webkit-scrollbar:vertical {
  width:2px;
}

.main__left::-webkit-scrollbar-button:increment,.main__left::-webkit-scrollbar-button {
  display: none;
} 

.main__left::-webkit-scrollbar:horizontal {
  height: 6px;
}

.main__left::-webkit-scrollbar-thumb {
  background-color: #69acd5;
  border-radius: 20px;
  border: 1px solid #f1f2f3;
}

.main__left::-webkit-scrollbar-track {
  border-radius: 10px;  
}