.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;

}

.main__saved {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main__header {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.main__saved h1 {
  display: flex;
  justify-content: space-between;
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-size: 1.1rem;
  padding-right: 40px;
}

.main__saved h1 span {
  font-size: .7rem;
  background-color: #35136f;
  padding: 4px 6px;
}

.main__saved__list {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
  overflow: auto;
}